node_modules/
dist/
.astro/
.wrangler/
.dev.vars*
.env*

image/.build/
image/binary/
image/cache/
image/chroot/
image/local/
image/*.contents
image/*.files
image/*.iso
image/*.packages
image/config/archives/tailscale.key.chroot
image/config/binary
image/config/bootstrap
image/config/build
image/config/chroot
image/config/common
image/config/source
image/config/hooks/live/*
!image/config/hooks/live/0100-tailboot.hook.chroot
!image/config/hooks/live/0200-autoboot.hook.binary
image/config/hooks/normal/
image/config/package-lists/live.list.chroot

cli/src/release.ts
cli/*.tgz
